*.docx
*.doc
*.pptx
*.xlsx
*.txt
*.zip
*.png
*.jpg
*.gif
*.wav
*.mp3
*.mp4
*.jpeg
*.tex
*.jff
*.dia
*.dia~
*.cpp.save-failed
*.depend
*.layout
*.ppt
*.rar
*.gz
*.url
*.xd
*.jar
*.xml
*.iml
*.jar
*.ink
*.com
*.com_
*.com.list
*.com_.list
*.com.symbol
*.com_.symbol
*.tscproj
*.mat
*.7z
*.suo
*.mm
*.html_files
*.html
*.svg
*.mkv
*.vs
*.apk
*.cache
*.ppsx
*.xls
*.mpeg
*.veg
*.mp4.sfk
*.csv
bin/
.settings/
obj/
2016B/Semi Métodos Matemáticos 1/Actividades
2016B/Semi Métodos Matemáticos 1/Cifrado Info
2017A/Act. 9 Laplace Def
2017A/Algoritmia
2017A/Notas
2017A/Semi de algoritmia/Proyecto final - 212575181/Documentacion
2017A/Teoria de la computacion/Temas de proymoodle
2017B/Estructura de datos II/escaners
2017B/Estructura de datos II/Exposicion
2017B/Estructura de datos II/JUAREZ PLASCENCIA 2017B TAREAS
2017B/Metodos matematicos II
2017B/Redes de computadoras y protocolos de comunicacion
2017B/Seminario de estructuras de datos II/estructura
2017B/Seminario de estructuras de datos II/Notas
2017B/Teoria de la computacion/Clases
2017B/Teoria de la computacion/JUAREZ PLASCENCIA 2017B  ACTIVIDADES
2017B/Teoria de la computacion/Referencias
2018A/Ingenieria de software
2018A/Metodos matematicos III
2018A/Seminario de problemas de metodos matematicos/Video imagenes
2018B/Agenda 2019A
2018B/Arquitectura de computadoras
2018B/Bases de datos/Actividades
2018B/Bases de datos/Examen BD
2018B/Bases de datos/pgAdmin
2018B/Bases de datos/Referencias
2018B/Seminario Bases de datos/Referencias
2018B/Seminario Ing de software
2018B/Traductores de lenguajes
2018B/Seminario Bases de datos/Actividades
2018B/Seminario Bases de datos/Notas
2019A/Codigo para bases de datos
2019A/Duplicado Credencial
2019A/Horario
2019A/Ingenieria en computacion
2019A/SEGURIDAD/ESP8266 Firmware Update
2019A/SEGURIDAD/Referencias
2019A/SEMINARIO DE ARQUITECTURA DE COMPUTADORAS
2019A/SEMINARIO DE INGENIERIA DE SOFTWARE/Grupo
2019A/SEMINARIO DE INGENIERIA DE SOFTWARE/Individual
2019A/Tramite MiPasaje
2019A/SEMINARIO DE TRADUCTORES DE LENGUAJES/Actividades/Practica 1/Entrega
2019A/SEMINARIO DE TRADUCTORES DE LENGUAJES/Tarea
2019B/Administracion
2019B/Agenda 2020A
2019B/Formacion Empresarial
2019B/Sistemas operativos
2020A/Administracion de bases de datos/00_Programa de la materia, Libro Elmasri, ejemplos de ejercicios de BD Relacional y DER y EER
2020A/Administracion de bases de datos/02_Administración de bases de datos
2020A/Administracion de bases de datos/03_Apuntes del tema Gestores de BD Diagrama conceptual de Sistemas de BD,
2020A/Administracion de bases de datos/04_LIGA PARA SUBIR LAS EXPOSICIONES POR EQUIPO
2020A/Administracion de bases de datos/05_Actividad 1 Ensayo Unidad 1
2020A/Administracion de bases de datos/06_Apuntes, tema Respaldo y recuperación
2020A/Administracion de bases de datos/07_Actividad 2 Respaldo y recuperación de BD
2020A/Administracion de bases de datos/08_PROYECTO
2020A/Administracion de bases de datos/09_Actividad 3 Administración de Usuarios (por equipo de proyecto)
2020A/Administracion de bases de datos/10_LIGA PARA SUBIR LAS PREGUNTAS DISEÑADAS EN CLASE POR CADA EQUIPO
2020A/Administracion de bases de datos/11_Actividad 4 Administración y Mantenimiento de la base de datos
2020A/Administracion de bases de datos/12_Apuntes UNIDAD 4. Concurrencia y bloqueos de los Sistemas de Bases de Datos
2020A/Administracion de bases de datos/13_Actividad durante la clase
2020A/Administracion de bases de datos/14_Actividad 5 Problemas relacionado con la concurrencia, por equipo
2020A/Administracion de bases de datos/15_Tarea (Asistencia) Subir la tarea en hora clase, si se sube posterior a al horario tendrás falta
2020A/Administracion de bases de datos/16_Actividad 6 Infografia Bloqueos
2020A/Administracion de bases de datos/17_Tarea (Asistencia)
2020A/Administracion de bases de datos/18_Tarea de equipo Transacciones
2020A/Administracion de bases de datos/20_Apuntes_Unidad 5 BASES DE DATOS DISTRIBUIDAS
2020A/Administracion de bases de datos/21_Tare 6_ MapaM BDistribuidas
2020A/Administracion de bases de datos/23_Avance 3b_Proyecto_Vídeo y Reporte de administración de usuarios, inciso b
2020A/Administracion de bases de datos/24_Avance 4c_Proyecto_mapa mental Admon y Matto BD
2020A/Administracion de bases de datos/25_Tarea 7_DiagDistrib yFragmentaciones
2020A/Administracion de bases de datos/26_Avance 5e_Consultas distribuidas
2020A/Administracion de bases de datos/27_Tarea_Proyecto/Proyecto/Incisos
2020A/Administracion de bases de datos/27_Tarea_Proyecto/Proyecto/Manual Tecnico
2020A/Administracion de bases de datos/27_Tarea_Proyecto/Proyecto/Manual Usuario
2020A/Administracion de bases de datos/27_Tarea_Proyecto/Proyecto/Programa en ejecucion
2020A/Administracion de bases de datos/28_Resumen general
2020A/Administracion de bases de datos/29_Examen ordinario
2020A/Administracion de bases de datos/30_Portafolio
2020A/Administracion de bases de datos/Exposiciones
2020A/Administracion de bases de datos/Imagenes
2020A/Administracion de bases de datos/Referencias
2020A/Inteligencia artificial/Referencias
2020A/Programacion para internet/Avance 2
2020A/Programacion para internet/Avance 3
2020A/Programacion para internet/Avance 4 y ultimo
2020A/Programacion para internet/Entrega Proyecto/Evaluacion
2020A/Programacion para internet/Entrega Proyecto/Imagenes proyecto
2020A/Programacion para internet/Maquetado App
2020A/Programacion para internet/tarea bd
2020A/Semestre
2020B/Control de proyectos
2020B/Sistemas Operativos de Red
2020B/Seminario de Solucion de Problemas de Sistemas Operativos
2021A/Inteligencia Artificial II
2021A/Seminario de Solución de Problemas de Inteligencia artificial I/01.Presentación
2021A/Seminario de Solución de Problemas de Inteligencia artificial I/02.Introducción a algoritmos evolutivos
2021A/Seminario de Solución de Problemas de Inteligencia artificial I/03.Comparación entre estrategias de Inteligencia Artificial
2021A/Seminario de Solución de Problemas de Inteligencia artificial I/04.Repaso de Inteligencia Artificial
2021A/Seminario de Solución de Problemas de Inteligencia artificial I/05.Optimización
2021A/Seminario de Solución de Problemas de Inteligencia artificial I/06.Optimización Encontrar puntos estacionarios
2021A/Seminario de Solución de Problemas de Inteligencia artificial I/07.Optimización Clásica/Derivadas
2021A/Seminario de Solución de Problemas de Inteligencia artificial I/08.Funciones para probar algoritmos de optimización
2021A/Seminario de Solución de Problemas de Inteligencia artificial I/10.Fundamentos de algoritmos evolutivos
2021A/Seminario de Solución de Problemas de Inteligencia artificial I/13.Algoritmo Genético Binario Act
2021A/Seminario de Solución de Problemas de Inteligencia artificial I/14.Algoritmo Genético Continuo
2021A/Seminario de Solución de Problemas de Sistemas Operativos de Red
2021A/Sistemas Concurrentes y Distribuidos
2021A/Taller de investigacion
2021B/Computación Tolerante a Fallas/Exposicion
2021B/Computación Tolerante a Fallas/Photos Comp
2021B/Computación Tolerante a Fallas/Tarea 1
2021B/Computación Tolerante a Fallas/Tarea 2
2021B/Computación Tolerante a Fallas/Tarea 3
2021B/Computación Tolerante a Fallas/Tarea 4
2021B/Computación Tolerante a Fallas/Tarea 5
2021B/Computación Tolerante a Fallas/Tarea 6 - Examen
2021B/Computación Tolerante a Fallas/Tarea 7
2021B/Computación Tolerante a Fallas/Tarea 8
2021B/INTELIGENCIA ARTIFICIAL II/Exposicion
2021B/INTELIGENCIA ARTIFICIAL II/Jupyter
2021B/INTELIGENCIA ARTIFICIAL II/Meet
2021B/INTELIGENCIA ARTIFICIAL II/Notas MLP
2021B/INTELIGENCIA ARTIFICIAL II/Presentaciones Profe
2021B/INTELIGENCIA ARTIFICIAL II/Tareas
2021B/INTELIGENCIA ARTIFICIAL II/Practicas
2021B/Sem AI-I/Agents/Agents-20211025T183631Z-001
2021B/Sem AI-I/Clases Sem IA
2021B/Sem AI-I/Evolutionary Algorithms
2021B/Sem AI-I/Fundamentals of EC
2021B/Sem AI-I/GAs Applications
2021B/Sem AI-I/Genetic Algorithms
2021B/Sem AI-I/Genetic Algorithms_The Roulette Wheel Selection Technique
2021B/Sem AI-I/hands ons
2021B/Sem AI-I/Hands-on 2
2021B/Sem AI-I/JADE full
2021B/Sem AI-I/Meet
2021B/Sem AI-I/Simple Linear Regression
2021B/Sem AI-I/Tech Reading 1 Jade Overview
2021B/Sem AI-I/Tech Reading 2
2021B/Sem AI-I/Tech Reading 3
2021B/Sem AI-I/Tech Reading 5 _R-Squared for Evolutionary Optimization
2021B/Sem AI-I/Tech Reading_3 Roulette Wheel
2021B/Sem AI-I/Tech Reading_Evolutionary Computation
2021B/Sem AI-I/The Gradient
2021B/Sem AI-I/Types of Problems
2022A/2022A Sem. IA2/Tarea 4. Clasificador 2/Datasets
2022A/2022A Sem. IA2/Tarea 5. Scaling features/Datasets
2022A/2022A Sem. IA2/Tarea 6. Pipelines y PCA/actividad
2022A/2022A Sem. IA2/Tarea 6. Pipelines y PCA/Datasets
#---------------------------------------------------------------------------C++
# Prerequisites
*.d
# Compiled Object files
*.slo
*.lo
*.o
*.obj
# Precompiled Headers
*.gch
*.pch
# Compiled Dynamic libraries
*.so
*.so.*
*.dylib
*.dll
# Fortran module files
*.mod
*.smod
# Compiled Static libraries
*.lai
*.la
*.a
*.lib
# Executables
*.exe
*.out
*.app
#---------------------------------------------------------------------------C
# Prerequisites
*.d
# Object files
*.o
*.ko
*.obj
*.elf
# Linker output
*.ilk
*.map
*.exp
# Precompiled Headers
*.gch
*.pch
# Libraries
*.lib
*.a
*.la
*.lo
# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
# Debug files
*.dSYM/
*.su
*.idb
*.pdb
# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
#---------------------------------------------------------------------------CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
#---------------------------------------------------------------------------Objective-C
## Obj-C/Swift specific
*.hmap
## App packaging
*.ipa
*.dSYM.zip
*.dSYM
#---------------------------------------------------------------------------Qt
# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
#moc_*.h
qrc_*.cpp
#ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl
# Qt unit tests
target_wrapper.*
# QtCreator
*.autosave
# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*
# QtCreator CMake
CMakeLists.txt.user*
# QtCreator 4.8< compilation database
compile_commands.json
# QtCreator local machine specific files for imported projects
*creator.user*
*_qmlcache.qrc
#---------------------------------------------------------------------------Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec
# Installer logs
pip-log.txt
pip-delete-this-directory.txt
# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
# Translations
*.mo
*.pot
# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
# Flask stuff:
instance/
.webassets-cache
# Scrapy stuff:
.scrapy
# Sphinx documentation
docs/_build/
# PyBuilder
.pybuilder/
target/
# Jupyter Notebook
.ipynb_checkpoints
# IPython
profile_default/
ipython_config.py
# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml
# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/
# Celery stuff
celerybeat-schedule
celerybeat.pid
# SageMath parsed files
*.sage.py
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
# Spyder project settings
.spyderproject
.spyproject
# Rope project settings
.ropeproject
# mkdocs documentation
/site
# mypy
.mypy_cache/
.dmypy.json
dmypy.json
# Pyre type checker
.pyre/
# pytype static type analyzer
.pytype/
# Cython debug symbols
cython_debug/
# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
.idea/
#---------------------------------------------------------------------------TeX
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
## Intermediate documents:
*.dvi
*.xdv
*-converted-to.*
# these rules might exclude image files for figures etc.
# *.ps
*.eps
*.pdf
## Generated if empty string is given at "Please type another file name for output:"
.pdf
## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml
## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
## Build tool directories for auxiliary files
# latexrun
latex.out/
## Auxiliary and intermediate files from other packages:
# algorithms
*.alg
*.loa
# achemso
acs-*.bib
# amsthm
*.thm
# beamer
*.nav
*.pre
*.snm
*.vrb
# changes
*.soc
# comment
*.cut
# cprotect
*.cpt
# elsarticle (documentclass of Elsevier journals)
*.spl
# endnotes
*.ent
# fixme
*.lox
# feynmf/feynmp
*.mf
*.mp
*.t[1-9]
*.t[1-9][0-9]
*.tfm
#(r)(e)ledmac/(r)(e)ledpar
*.end
*.?end
*.[1-9]
*.[1-9][0-9]
*.[1-9][0-9][0-9]
*.[1-9]R
*.[1-9][0-9]R
*.[1-9][0-9][0-9]R
*.eledsec[1-9]
*.eledsec[1-9]R
*.eledsec[1-9][0-9]
*.eledsec[1-9][0-9]R
*.eledsec[1-9][0-9][0-9]
*.eledsec[1-9][0-9][0-9]R
# glossaries
*.acn
*.acr
*.glg
*.glo
*.gls
*.glsdefs
*.lzo
*.lzs
*.slg
*.slo
*.sls
# uncomment this for glossaries-extra (will ignore makeindex's style files!)
# *.ist
# gnuplot
*.gnuplot
*.table
# gnuplottex
*-gnuplottex-*
# gregoriotex
*.gaux
*.glog
*.gtex
# htlatex
*.4ct
*.4tc
*.idv
*.lg
*.trc
*.xref
# hyperref
*.brf
# knitr
*-concordance.tex
# TODO Uncomment the next line if you use knitr and want to ignore its generated tikz files
# *.tikz
*-tikzDictionary
# listings
*.lol
# luatexja-ruby
*.ltjruby
# makeidx
*.idx
*.ilg
*.ind
# minitoc
*.maf
*.mlf
*.mlt
*.mtc[0-9]*
*.slf[0-9]*
*.slt[0-9]*
*.stc[0-9]*
# minted
_minted*
*.pyg
# morewrites
*.mw
# newpax
*.newpax
# nomencl
*.nlg
*.nlo
*.nls
# pax
*.pax
# pdfpcnotes
*.pdfpc
# sagetex
*.sagetex.sage
*.sagetex.py
*.sagetex.scmd
# scrwfile
*.wrt
# svg
svg-inkscape/
# sympy
*.sout
*.sympy
sympy-plots-for-*.tex/
# pdfcomment
*.upa
*.upb
# pythontex
*.pytxcode
pythontex-files-*/
# tcolorbox
*.listing
# thmtools
*.loe
# TikZ & PGF
*.dpth
*.md5
*.auxlock
# titletoc
*.ptc
# todonotes
*.tdo
# vhistory
*.hst
*.ver
# easy-todo
*.lod
# xcolor
*.xcp
# xmpincl
*.xmpi
# xindy
*.xdy
# xypic precompiled matrices and outlines
*.xyc
*.xyd
# endfloat
*.ttt
*.fff
# Latexian
TSWLatexianTemp*
## Editors:
# WinEdt
*.bak
*.sav
# Texpad
.texpadtmp
# LyX
*.lyx~
# Kile
*.backup
# gummi
.*.swp
# KBibTeX
*~[0-9]*
# TeXnicCenter
*.tps
# auto folder when using emacs and auctex
./auto/*
*.el
# expex forward references with \gathertags
*-tags.tex
# standalone packages
*.sta
# Makeindex log files
*.lpz
# xwatermark package
*.xwm
# REVTeX puts footnotes in the bibliography by default, unless the nofootinbib
# option is specified. Footnotes are the stored in a file with suffix Notes.bib.
# Uncomment the next line to have this generated file ignored.
#*Notes.bib
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
